body{
  margin: auto;
  width: 1200px;
  font-size: 12px;
  text-align: center;
}
header{
  display: inline-flex;
}
aside{
  text-align: left;
}
#headSect {
  padding-right: 80px;
  font-size: 30px;
}
#topSmall{
  padding-left: 5px;
}
#firstImages{
  padding-top: 10px;
  padding-left: 423px;
}
#secImages{
  padding-top: 10px;
  padding-left: 15px;
}
h1{
  font-size: 40px;
}
#firstBodyText{
  padding-right: 640px;
}