body{
  padding-top: 30px;
  margin: auto;
  width: 1180px;
  font-size: 12px;
  text-align: center;
  background-image: url("/images/hr-img.png"),
  url("/images/hr-img.png"),
  url("/images/hr-img.png");
  background-repeat: repeat-x;
  background-position: 0px 115px, 0px 111px, 0px 107px;
}
header{
  display: inline-flex;
  padding-bottom: 60px;
}
#headSect {
  padding-right: 80px;
  font-size: 30px;
}
#topSmall{
  padding-left: 5px;
}
#firstImages{
  padding-top: 10px;
  padding-left: 423px;
}
#secImages{
  padding-top: 10px;
  padding-left: 15px;
}
h1{
  font-size: 44px;
  margin-bottom: -0px;
  padding-right: 610px;
}
#firstBodyText{
  display: inline;
  margin-bottom: -10px;
}
#postedOn{
  text-align: center;
  padding-left: 140px;
  float: left;
  font-size: 15px;
  color: grey;
}
#print{
  padding-left: 850px;
  font-size: 15px;
  padding-bottom: 25px;
  color: grey;
}
#mainText{
  margin-left: 120px;
  margin-right: 120px;
  font-size: 20px;
}
p{
  padding-top: 20px;
}
#reciTwo{
  position: absolute;
  top: 550px;
  left: 300px;
}